body {
    padding:0;
    margin:0;
    font-family: 'museo_slab500';

}

#vid {
    position: fixed; right: 0; bottom: 0;
    min-width: 100%; min-height: 100vh;
    width: auto; height: auto; z-index: -100;
    background: no-repeat;
    background-size: cover;
}

.fullVideo {
    background: transparent;
    height:100vh;
    width:100%;
}

.videoWrap {
    height:100%;
    width:100%;
}

.outer {
    display:table;
    height:100%;
    width:100%;
}

.inner {
    display:table-cell;
    vertical-align: middle;
    text-align: center;
}

.full {
    height:100%;
    width:100%;
}

#jumboTitle {
    font-size: 200px;
    color:wheat;
    line-height: 138px;

}

#subTitle {
    color:wheat;
    font-size:41px;

}

.buttonWrap {
    width:600px;
    height:auto;
    margin:0 auto;
}

/* ====== OBJECT CLASSES ====== */

.button {
    height:40px;
    width:20%;
    font-size: 20px;
    float:left;
    border: 3px solid wheat;
    margin:-3px;
    color:wheat;
    display:table;
    cursor:pointer;
}

.button:hover {
    background:wheat;
    color:black;
}

